.main-section__permalink__post__thumbnail{
  display: block;
  width: 100%;
  height: auto;
  border: 2px solid $color2;

  transition: box-shadow 0.3s;
}

.main-section__permalink:hover .main-section__permalink__post__thumbnail,
.main-section__permalink:focus .main-section__permalink__post__thumbnail{
  box-shadow: 0 0 26px 5px $color8;
}