.main-section__permalink__post__title{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba($color1, 0.7);
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.main-section__permalink:hover .no-image .main-section__permalink__post__title,
.main-section__permalink:focus .no-image .main-section__permalink__post__title{
  background-color: $color8;
}