.main-section__content__organizers-list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;

  //@media screen and (min-width: 640px) {
  //  max-width: 616px;
  //}
  //
  //@media screen and (min-width: 680px) {
  //  max-width: 656px;
  //}
  //
  //@media screen and (min-width: 1091px) {
  //  max-width: 1091px;
  //}
}