/.DS_Store
*.xml
.idea
node_modules
/app/wp-admin/
/app/wp-includes/
/app/xmlrpc.php
/app/wp-comments-post.php
/app/wp-signup.php
/app/wp-config-sample.php
/app/wp-cron.php
/app/wp-activate.php
/app/wp-blog-header.php
/app/wp-load.php
/app/wp-settings.php
/app/index.php
/app/wp-links-opml.php
/app/wp-login.php
/app/wp-mail.php
/app/license.txt
/app/readme.html
/app/wp-config.php
/app/wp-trackback.php
/app/wp-content/languages/
/doc/Clé ACF pro.txt
/app/wp-content/plugins/
app/wp-content/index.php
app/wp-content/themes/index.php
/doc/schéma navigation.ai
doc/wireframe accueil.ai
*.ai