.main-section__pagination__link{
  min-width: 135px;

  &.previous{
    border-radius: 60px 0 0 0;
  }

  &.next{
    border-radius: 0 60px 0 0;
  }

  &.disable{
    opacity: 0.3;
    &:hover, &:focus{
      color: $color1;
      background-color: $color4;
      cursor: context-menu;
    }
  }
}