.main-section__filters-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.825rem;
  position: relative;
  align-items: center;


  @media screen and (max-width: 1021px) {
    max-width: 320px;
  }
}