.newsletter-section__field{
  display: block;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: $spacing-xs 2.3rem $spacing-xs $spacing-xs*0.8;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-xs;
  width: 100%;
}