.cta__teasing{
  margin: -0.6rem auto $spacing-xs;
  text-align: center;
  font-weight: 500;
  font-size: $titles-font-size-h2;
  color: $color1;
  max-width: 30em;
  text-shadow: 1px 1px 4px $color2;
}