.main-section__title{
  background-color: $color4;
  color: $color8;
  padding: 0.438rem 0;
  margin-bottom: $spacing-s;

  span{
    display: block;
    margin: 0 auto;
    padding-left: $spacing-xs;
    padding-right: $spacing-xs;
  }

  @media screen and (min-width: 1021px){
    span{
      max-width: 1021px;
    }
  }

  @media screen and (min-width: 1091px){
    span{
      max-width: 1091px;
    }
  }
}