.visually-hidden{
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  line-height: 1px;
  margin: 0;
  padding: 0;
  font-size: 1px;
  color: transparent;
}