.main-section__content__organizers-list__organizer__image-container{
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  order: 1;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  //border: 2px solid $color2;
  margin-right: $spacing-xs;
}