.footer-info-and-links-section__copyright{
  background-color: $color9;
  margin-bottom: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: $spacing-xs;
  padding-right: $spacing-xs;
  border-top: 1px solid $color7;
  max-width: 100%;
}