.btn1{
  display: inline-block;
  color: $color1;
  background-color: $color4;
  text-decoration: none;
  padding: 0.6875rem $spacing-xs;
  min-width: 158px;
  text-align: center;
  border-radius: 25px 0 25px 0;
  border: 1px solid transparent;
  transition: 0.3s;

  &:hover, &:focus{
    color: $color4;
    background-color: $color1;
    border-color: $color4;
    outline-color: $color0;
  }
}