.main-section__pagination__current-page{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
  width: 40px;
  border: 1px solid $color4;
  border-radius: 25px;
  background-image: linear-gradient(rgba(255, 250, 240, 0.98), rgba(255, 250, 240, 0.98)), url(../images/background.jpg);
  text-align: center;
  color: $color4;
  font-weight: 600;
}