.main-section__post__artists-list{
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  font-style: italic;
  color: $color3;

  @media screen and (min-width: 1021px) {
    text-align: left;
  }
}