@font-face {
  font-family: 'Archivo-Narrow';
  src: url('../fonts/Archivo_Narrow/ArchivoNarrow-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo-Narrow';
  src: url('../fonts/Archivo_Narrow/ArchivoNarrow-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Archivo-Narrow';
  src: url('../fonts/Archivo_Narrow/ArchivoNarrow-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo-Narrow';
  src: url('../fonts/Archivo_Narrow/ArchivoNarrow-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Archivo-Narrow';
  src: url('../fonts/Archivo_Narrow/ArchivoNarrow-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Archivo-Narrow';
  src: url('../fonts/Archivo_Narrow/ArchivoNarrow-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Abril-Fatface';
  src: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Patua-One';
  src: url('../fonts/Patua_One/PatuaOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

$global-font-size: 16px;
$global-line-height: 1.5;

$site-title-font-size: 1.875rem; //30
$titles-font-size-h2: 1.5rem;   //24
$titles-font-size-h3: 1.25rem;  //20

$site-title-font: 'Abril-Fatface';
$titles-font: 'Patua-One';
$labour-font: 'Archivo-Narrow';

$spacing-xs: 0.9395rem; //15
$spacing-s: 1.25rem;    //20
$spacing-m: 1.875rem;   //30
$spacing-l: 3.125rem;   //50



$color0: transparent;
$color1: #fff;
$color2: #000;
$color3: #393939;
$color4: #861C48;
$color5: #BE3B72;
$color6: #FFE2EE;
$color7: #D83C2B;
$color8: #FED178;
$color9: #D1D1D1;
