.site-logo-link{
  position: absolute;
  right: $spacing-xs;
  top: 14px;

  @media screen and (min-width: 1121px){
    position: static;
    order: -1;
    display: flex;
    align-items: center;
    margin-top: -15px;

    &:hover, &:focus{
      outline-color: $color0;
    }
  }
}