.site-title{
  font-family: $site-title-font;
  font-size: $site-title-font-size;
  text-align: center;
  margin: 0.3rem 0 0;

  @media screen and (min-width: 1121px){
    margin-top: 0;
    margin-left: $spacing-xs;
  }
}