.main-nav__link{
  font-family: $titles-font;
  float: none;
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
  font-size: 1.25rem;
  color: $color6;
  min-height: 2.75rem;
  padding-left: $spacing-xs;
  position: relative;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    right: 7px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: $color6;
  }

  &--current-page{
    background-color: $color6;
    color: $color4;

    &:after{
      display: none;
    }
  }

  @media screen and (min-width: 1121px){
    padding-left: 0;
    border-bottom: 3px solid transparent;
    transition: color 0.3s;

    &:hover, &:focus{
      color: $color8;
      outline-color: $color0;
    }

    &:after{
      display: none;
    }

    &--current-page {
      background-color: $color4;
      color: $color6;
      border-color: $color1;
    }
  }
}

